/* colour palette							*/
/* dark grey:	#161616		(22, 22, 22)	*/
/* dark red		#5d0000		(93, 0, 0)		*/
/* blue			#289dd3		(40, 157, 211)	*/
/* off-white	#ffffff		(252, 255, 234)	*/
/* green		#20a357		(32, 163, 87)	*/
@media only screen and (min-width: 601px) {
body {
    background-color: #ffffff;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
* {
    box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	/* font-family: tahoma; */
}



/*---------------------------------------------------------------- text formatting ----------------------------------------------------------------*/	
h1 {    color: #ffffff;	letter-spacing: 0.5em;	padding: 0vw;	margin: 0vw;	font-size: 2.6vw;	}

h2 {    color: #ffffff;	letter-spacing: 0.2em; 	padding: 0vw;	margin: 0vw;	font-size: 1.3vw;	font-weight: normal;	}
.pageOverview {	text-align:center;	color:#161616;	letter-spacing: 0.1em;	padding: 1.5em 1em 1em;	}
.projectMainTitle	{	font-size:1.6vw;	font-weight:bold;	padding-top:1vw;	}
.projectPadeHeading	{	color:#161616;	text-align:center;	font-size:1.6vw;	padding: 2vw 0vw 1vw;	}

h3 {    color: #161616;	letter-spacing: 0.1em;	padding: 0vw;	margin: 0vw;	font-size: 0.975vw;	font-weight: bold;		}
.landingSubTitle	{	color: #161616;	font-size: 1.6vw;	}
.projectFilterTitle	{	font-size: 0.975vw;	}
.projectPageTitle	{	color: #161616;	font-size: 1.6vw;	}
.musicSubTitle	{	color:#ffffff;	font-size:1.6vw;	padding-bottom: 0.5em;	}
.musicChannelLink	{	color:#ffffff;	font-size: inherit;	display: absolute;	top: 0%;	right: 0%;	}
.contactDetailsL	{	font-size: 1vw;	padding-left: 1vw;	-webkit-transform: translate(0%, 2vw);	transform: translate(0%, 2vw);	}
.contactDetailsR	{	font-size: 1vw;	padding-right: 1vw;	-webkit-transform: translate(0%, 2vw);	transform: translate(0%, 2vw);	}

h4 {    color: #ffffff;	letter-spacing: 0.1em;	padding: 0vw;	margin: 0vw;	font-size: 1.3vw;	font-weight: bold;	}
.compPanelSubTitle	{	font-size:1vw;	padding: 0.5em 0em 0em;	letter-spacing: 0.1em;	}
.musicGenre	{	color: #161616;	font-weight: normal;	}
.softwareHeading	{	padding: 0em 0em 0.5em;	}
.skillLevel {	font-style:italic;	font-size:1vw;	}

h5 {    color: #5d0000;	letter-spacing: 0.1em;	padding: 0vw;	margin: 0vw;	}

h6 {    color: #5d0000;	letter-spacing: 0.1em;	padding: 0vw;	margin: 0vw;	}

p {    color: #161616;	letter-spacing: 0.05em;	font-size: 0.975vw;	padding: 0.5em 0em;	margin: 0vw;	line-height: 1.4em;	}
.link {	color:#ffffff;	cursor:pointer;	text-decoration: underline;	padding: 0em 1em;}
.copyRight	{	font-size:inherit;	color:inherit;	opacity:0.75;	padding-top: 2em;	}
.compPanelText	{	color: #ffffff;	padding-left: 2vw;	padding-top: 0.75em;	}
.landingText	{	font-size:1.3vw;	padding: 0.5em 0em 1.5em;	}
.landingImageText	{	text-align: center;	padding: 0.1em;	}
.projectPageText	{ 	color: #161616;	font-size: 1.3vw;	}
.projectTileText	{	color: #ffffff;	font-size: 1.3vw;	padding: 1em 0em 1.5em;	}
.musicDescription	{	color: #ffffff;	}
.musicIntroText	{	color: #ffffff;	font-size: 1.1vw;	}	
.musicHeadingText	{	text-align: center;	padding: 0vw 1vw;	}
.footerEmail	{	color: #ffffff;	font-size: 1vw;	padding-bottom: 1em;	font-weight: 300;	}
.siteMapInfo	{	padding: 0;	}

span	{	font-weight: normal;	}

em	{	color: #ffffff;	font-weight: 200;	padding-top: 0px;	}
em.contactEM	{	color: #161616;	}
em.projectLink	{	font-size: 1.3vw;	}
em.musicLink	{	font-size: inherit;	color: inherit;	letter-spacing: inherit; font-weight: inherit;	}
em.caption		{	font-weight: 400;	color: #161616;	}
em.relevantProjects	{	font-size: inherit;	}

a {    color: #161616;	letter-spacing: 0.05em;	font-size: 0.975vw;	padding-top: 1em;	font-style: normal;	}
a:link, a:visited	{	text-decoration: none;	}
a:hover, a:active	{	text-decoration: underline;	}
a.landingText	{	font-size: inherit;	}
a.musicLink	{	font-size: inherit;	color: inherit;	letter-spacing: inherit; font-weight: inherit;	}
.projectTileLink 	{	color: #ffffff;	cursor: pointer;	text-decoration: underline;	padding: 0em 1em; font-size: 1.2vw;	}
.siteMapLink	{	color: #ffffff;	}
.siteMapHeading	{	color: #ffffff;	}

label	{	letter-spacing: 0.1em;	padding: 0vw;	margin: 0vw;	font-size: 0.975vw;	font-weight: bold;	display: inline;	}

ul {	padding-left: 0.5vw;	columns: 2;	list-style-position: inside;	}
li {    color: #161616;	letter-spacing: 0.05em;	font-size: 0.975vw;	padding: 0vw;	margin: 0vw;	line-height: 1.6em;	}

iframe	{
	margin: 0px;
	padding: 0px;
	border: 0px;
}
img.projectContainerImage	{	width: 100%;	height: inherit;	}



/*---------------------------------------------------------------- header ----------------------------------------------------------------*/
header {
	text-align: center;
	padding: 0.25em 0em;
	margin: 0px;
	background-color: #161616;
	color: #ffffff;
	width: 100%;
	height: 8vw;
	-webkit-transition: all 0.5s ease-in-out;	transition: all 0.5s ease-in-out;
}
img.headerImage {
	position: relative;	display: inline-block;
	margin: auto;
	width: 7vw;
	height: 7vw;
	padding-top: 0.5vw;
}
.headerTitle {
	position: relative;	display: inline-block;
	margin: auto;
	width: 25vw;
	height: 8vw;
	vertical-align: top;
	padding: 2.2vw 2vw 0vw;
}
#neal {	text-align: right;	}
#meswania {	text-align: left;	}
header:hover {
	padding-top: 1vw;
	height: 9.5vw;
	letter-spacing: 5em;
	cursor:pointer;
}



/*---------------------------------------------------------------- navbar ----------------------------------------------------------------*/
nav {
    background-color: #20a357;
	height: 3.19vw;
	-webkit-box-shadow: 0px 0px 5px 0px #161616;	box-shadow: 0px 0px 5px 0px #161616;
}
.sticky {
	position: sticky;
	top: 0;
	width: 100%;
	transition:	0.5s;
	z-index: 9999;
}



/*---------------------------------------------------------------- button ----------------------------------------------------------------*/
button {
    background-color: #a0a0a0;
    color: #ffffff;
	font-family:tahoma;
	border: none;	padding: 0%;	margin: 0%;
	text-align: center;
	display: inline-block;
	height: 3.2vw;
	-webkit-transition: all 0.25s ease-out;	transition: all 0.25s ease-out;
	cursor:pointer;
	outline: none;
}
button.nav0 	{	width: 20%;	position: absolute;	}
button.nav0:hover {	background: #aaaaaa;	-webkit-transform: translate(0px, 5px);	transform: translate(0px, 5px);	}
button.navSel {	width: 20%;	position: absolute;	background-color: #5d0000;	}
button.navSel:enabled:hover {	-webkit-transform: translate(0px, 5px);	transform: translate(0px, 5px);	}
button.navSelP {	width: 20%;	position: absolute;	background-color: #5e3030;	}
button.navSelP:hover {	background: #5d0000;	-webkit-transform: translate(0px, 5px);	transform: translate(0px, 5px);	}
button.compImageButton {	background-color: #ffffff;	text-align: left;	height: inherit;	}
button.compImageButton:hover	{	-webkit-filter: grayscale(0%);    filter: grayscale(0%);	}
button.musicChannel	{	width: 100%;	height: 100%;	font-size: 1.3vw;	background-color: #5d3030;}
button.musicChannel:hover	{	background-color: #5d0000;	}
button.projectFilter	{	background-color: #20a357;	width: 20%;	font-size: 1.1vw;	}
button.projectFilter:hover	{	background-color: rgba(32, 163, 87, 0.75);	}
button.projectFilter.active	{	background-color: #289dd3;	}
#NavBarAbout	{	left: 0%;	}
#NavBarProjects {	left: 20%;	}
#NavBarSoftware {	left: 40%;	}
#NavBarMusic	{	left: 60%;	}
#NavBarContact	{	left: 80%;	} 



/*---------------------------------------------------------------- footer ----------------------------------------------------------------*/
footer {
	background-color: #161616;
	width: 100%;
	height: 15vw;
	margin-top: 5vw;
	position: absolute;
	-webkit-box-shadow: 0px 0px 5px 0px #161616;	box-shadow: 0px 0px 5px 0px #161616;
}
.footerImage {
	position: absolute;	display: inline;
	margin: 2.5vw 2.5vw;
	width: 10vw;
	height: 10vw;
	float: left;
	opacity: 0.75;
}
.footerLine {
	position: absolute;	display: inline;
	background-color: #ffffff;
	width: 0.25vw;
	height: 10vw;
	left: 15vw;
	margin-top: 2.5vw;
}
.footerText {
	position: absolute;	display: inline;
	left: 19vw;
	margin-top: 2.5vw;
	text-align: left;
	color: #ffffff;
	font-size: 1vw;
}



/*---------------------------------------------------------------- container ----------------------------------------------------------------*/
.container {
	display: flex;
	width: 100%;
	height: 25vw;
	justify-content: center;
	padding: 0px;	margin: 0px;	border: 0px;
}



/*---------------------------------------------------------------- landing page container ----------------------------------------------------------------*/
.landingContainer {
	display: flex;
	width: 80vw;
	height: 30vw;
	justify-content: space-around;
	padding: 0px;	margin: 3vw auto;	border: 0px;
}
.landingContainer .text {	padding-right: 0%;	}
.landingContainer .image {	text-align: center;	float: right;	}
.landingContainerImage {
	width: 25vw;	height: 25vw;
	background-color: #5e3030;
	-webkit-box-shadow: #404040 2px 2px 10px 0px;	box-shadow: #404040 2px 2px 10px 0px;
}


/*---------------------------------------------------------------- project image ----------------------------------------------------------------*/
.projectsContainer {
	width: 75%;
	padding: 0px;	margin: auto;	border: 0px;
	display: flex;
	flex-wrap: wrap;
}

.filterBar {
	width: 75%;
	padding: 0px 10px;	margin: auto;	border: 0px;
}
.filterBar .buttons	{
	display: flex;
	justify-content: space-around;
	padding: 0.25vw 0vw 10px;
}

.projectsContainer .projectImage {
    width: 33.33%;
	padding: 10px;	margin: 0px;	border: 0px;
	display: block;
}

.projectsContainer .hide {
	display: none;
}

.projectsContainer .projectImage .image {
	opacity: 1;
	display: block;
	width: 100%;
	height: 100%;
	-webkit-transition-duration: 0.3s;					transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-in-out;	transition-timing-function: ease-in-out;
	backface-visibility: hidden;
}
.projectsContainer .projectImage .middle {
	opacity: 0;
	position: absolute;
	top: 10px;
	padding-right: 20px;
	padding-left: 20px;
	text-align: left;
	color: #ffffff;
}
.projectsContainer .projectImage:hover .image {
	-webkit-filter: grayscale(100%);    filter: grayscale(100%);
	opacity: 0.3;
}
.projectsContainer .projectImage:hover .middle {
	opacity: 1;
	z-index: +2;
	transition: 0.5s;
    transition-delay: 0.5s;
}



/*---------------------------------------------------------------- Sweep To Top ----------------------------------------------------------------*/
.hvr-sweep-to-top {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);	transform: perspective(1px) translateZ(0);
	-webkit-transition-duration: 0.5s;					transition-duration: 0.5s;
	position: relative;
}
.hvr-sweep-to-top:before {
	opacity: 0.5;
	content: "";
	position: absolute;
	z-index: +1;
	top: 10px;	left: 10px;	right: 10px;	bottom: 10px;
	background: #161616;
	-webkit-transform: scaleY(0);					transform: scaleY(0);
	-webkit-transform-origin: 50% 100%;				transform-origin: 50% 100%;
	-webkit-transition-property: transform;			transition-property: transform;
	-webkit-transition-duration: 0.5s;				transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;	transition-timing-function: ease-out;
}
.hvr-sweep-to-top:hover, .hvr-sweep-to-top:focus, .hvr-sweep-to-top:active {
	color: #161616;
}
.hvr-sweep-to-top:hover:before, .hvr-sweep-to-top:focus:before, .hvr-sweep-to-top:active:before {
	-webkit-transform: scaleY(1);	transform: scaleY(1);
}



/*---------------------------------------------------------------- project container ----------------------------------------------------------------*/
.projectContainer {
	width: 100%;
	height: 25vw;
	margin: 15px 0px 50px;
	background: none;
	display: flex;
}

.projectContainer .left {
	width: inherit;	height: inherit;
	background: linear-gradient(to right, rgba(40,157,211,0), rgba(40,157,211,1) 70%);
	-webkit-animation: swipeLeft 0.75s ease-in-out;	animation: swipeLeft 0.75s ease-in-out;
}
.projectContainer .left .text {
	text-align: left;	padding: 2% 5% 15%;
	width: 60%;
	opacity: 0;
	float: left;
	-webkit-animation: textFadeIn 0.75s ease-in-out 0.75s forwards;	animation: textFadeIn 0.75s ease-in-out 0.75s forwards;
}
.projectContainer .left .image {
	width: 40%;	height: inherit;
	overflow: hidden;
	opacity: 0;
	float: left;
	-webkit-animation: textFadeIn 0.75s ease-in-out 0.75s forwards;	animation: textFadeIn 0.75s ease-in-out 0.75s forwards;
}

.projectContainer .right {
	width: inherit;	height: inherit;
	background: linear-gradient(to left, rgba(32,163,87,0), rgba(32,163,87,1) 70%);
	-webkit-animation: swipeRight 0.75s ease-in-out;	animation: swipeRight 0.75s ease-in-out;
}
.projectContainer .right .text {
	text-align: right;	padding: 2% 5% 15%;
	width: 60%;
	float: right;
	opacity: 0;
	-webkit-animation: textFadeIn 0.75s ease-in-out 0.75s forwards;	animation: textFadeIn 0.75s ease-in-out 0.75s forwards;
}
.projectContainer .right .image {
	width: 40%;	height: inherit;
	overflow: hidden;
	opacity: 0;
	float: right;
	-webkit-animation: textFadeIn 1s ease-in-out 0.75s forwards;	animation: textFadeIn 1s ease-in-out 0.75s forwards;
}

.projectContainer .centre {
	width: inherit;	height: inherit;
	background: linear-gradient(to left, 
		rgba(40, 157, 211, 0) , 
		rgba(40, 157, 211, 1) 15%, 
		rgba(40, 157, 211, 1) 85%,
		rgba(40, 157, 211, 0));
	opacity: 0;
	-webkit-animation: textFadeIn 0.5s ease-in-out forwards;	animation: textFadeIn 0.5s ease-in-out forwards;
}
.projectContainer .centre .text {
	text-align: center;	padding-top: 2%;	padding-bottom: 15%;
	width: 65%;
	margin: auto;
	opacity: 0;
	-webkit-animation: textFadeIn 0.5s ease-in-out 0.5s forwards;	animation: textFadeIn 0.5s ease-in-out 0.5s forwards;
}

#animalBanner {
	height: 150px;
	margin: 0;
}

#animalTiles{
	display: block;
	height: 550px;
	text-align: center;
	margin: 5px 0;
}

#animalBannerText {
	width: 50%;
}

img.animalTile {
	width: 19.5%;
	margin: 0 auto;
	padding: 0;
}

@keyframes swipeRight {
	0% 		{	width: 0%;	}
	100%	{	width: 100%;}
}

@keyframes swipeLeft {
	0% 		{	width: 0%;		margin-left: 100%;	}
	100%	{	width: 100%;	margin-left: 0%;	}
}

@keyframes textFadeIn {
	0% 		{	opacity: 0;	}
	100%	{	opacity: 1;	}
}



/*---------------------------------------------------------------- competancy container ----------------------------------------------------------------*/
.container .compImage {
	background-color: #ffffff;
	justify-content: space-around;
    width: 15%;
	height: 15vw;
	padding: 0px;	margin: 2% 3%;	border: 0px;
}

.info {
	display: none;
	background-color: #20a357;
	height: 18vw;
	width: 100%;
	-webkit-transition: 0.1s;	transition: 0.1s;
	overflow: hidden;
	-webkit-box-shadow: inset 0px -5px 10px -5px #161616, inset 0px 5px 10px -5px #161616;
	box-shadow: inset 0px -5px 10px -5px #161616, inset 0px 5px 10px -5px #161616;
}

.info .text {
	padding: 1vw 10vw;
	color: #ffffff;
}
img.compImage2 {
	-webkit-filter: grayscale(100%);    filter: grayscale(100%);
	-webkit-transition: 0.3s ease-in-out;	transition: 0.3s ease-in-out;
	width: 100%;
	height: 100%;
}
img.compImage2:hover {	-webkit-filter: grayscale(0%);    filter: grayscale(0%);	}



/*---------------------------------------------------------------- music container ----------------------------------------------------------------*/
.musicContainer {
	display: flex;
	width: 100%;
	height: 25vw;
	justify-content: center;
}
#musicIntroBox	{
	height: 8vw;
	margin-top: 0vw;
}
.musicContainer .musicText	{
	padding: 2vw 3vw;
	width: 40.1%;
    text-align: center;
	background-color: #20a357;
}
.musicContainer .musicIntroTextbox{
	padding: 1vw 3vw;
	width: 77.1%;
    text-align: center;
	background-color: #289dd3;
}

.musicContainer .video	{	width: 44.4vw;	height: inherit;	}
.musicContainer .link2	{	width: 8%;	height: inherit;	position: relative;	font-size: 1.2vw;	}

img.channelImage	{
	width: 100%;	height: inherit;
	padding: 0%;	margin: 0%;
	top: 0%;		right: 0%;
	position: absolute;
	opacity: 0.1;
}
img.channelImage:hover {	opacity: 0.1;	}

.musicSpacer	{	height: 50px;	width: 100%;	opacity: 0;	}



/*---------------------------------------------------------------- contact page container ----------------------------------------------------------------*/
.contactContainer {
	width: 80vw;
	height: 25vw;
	margin: 0px auto;
	display: flex;
	justify-content: left;
}
.contactContainer .imageContainer{
	width: 25vw;	height: 25vw;
	margin: 0px 0px 0px auto;
}
.contactContainer .imageContainer .image{
	width: inherit;
	height: inherit;
	-webkit-box-shadow: #404040 2px 2px 10px 0px;	box-shadow: #404040 2px 2px 10px 0px;
}

.contactContainerDetails {
	display: flex;
	width: 40vw;
	height: 5vw;
	justify-content: left;
	padding: 0vw 0vw 0vw;	margin: 0vw 0vw 5vw;	border: 0px;
}
.contactContainerDetails .image {
	width: 25%;	height: inherit;
	background-color: #20a357;
}

.contactContainerDetails .fadeG {
	width: 3vw;	height: inherit;
	background: linear-gradient(to right, rgba(32, 163, 87, 1), rgba(32, 163, 87, 0) 100%);
}
.contactContainerDetails .fadeB {
	width: 3vw;	height: inherit;
	background: linear-gradient(to left, rgba(40, 157, 211, 1), rgba(40, 157, 211, 0) 100%);
}
.contactContainerDetails .text {	width: 27vw;	height: inherit;	}




/*---------------------------------------------------------------- site map ----------------------------------------------------------------*/
table {
	width: 80%;
	margin: auto;
	text-align: left;
	padding: 0;
	border-collapse: collapse;
}
th	{
	width: 13%;
	padding: 1vw;
}
th.blue	{	background: #289dd3;	}
th.green{	background: #20a357;	}
td {
	padding: 1vw;
	padding-left: 4vw;
}
td.blue	{	background: linear-gradient(to right, rgba(40, 157, 211, 1), rgba(40, 157, 211, 0) 5%);	}
td.green{	background: linear-gradient(to right, rgba(32, 163, 87, 1), rgba(32, 163, 87, 0) 5%);	}

tr	{
	padding: 0;
}
}

/*
	Project placeholder images
	
	1 - https://images.unsplash.com/photo-1506014739647-c231072489c4
	2 - https://images.unsplash.com/photo-1509119993276-d691aff73209
	3 - https://images.unsplash.com/photo-1526240738457-1b84344668ed
	4 - https://images.unsplash.com/photo-1487300001871-12053913095d
	5 - https://images.unsplash.com/photo-1514917073844-2f691ae526c0
	6 - https://images.unsplash.com/photo-1482066490729-6f26115b60dc
	7 - https://images.unsplash.com/photo-1504208434309-cb69f4fe52b0
	8 - https://images.unsplash.com/photo-1522136846210-1f22a26c02c4
	9 - https://images.unsplash.com/photo-1459541708374-6fe9eea39a29
	10 - https://images.unsplash.com/photo-1483140599654-39f27a551df1
	11 - https://images.unsplash.com/photo-1526254793054-c5366c3eba06
	12 - https://images.unsplash.com/photo-1481134803835-48d6de104072
	13 - https://images.unsplash.com/photo-1484244233201-29892afe6a2c
*/